<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PtuHelp.dao.MbtiResultDao">

    <!-- 새로운 MBTI 결과를 데이터베이스에 삽입 -->
    <insert id="insertResult" parameterType="PtuHelp.model.MbtiResult">
        INSERT INTO MbtiResults (userId, result)
        VALUES (#{userId}, #{result})
    </insert>

    <!-- 사용자 ID로 MBTI 결과를 조회 -->
    <select id="getResultsByUserId" parameterType="int" resultType="PtuHelp.model.MbtiResult">
        SELECT * FROM MbtiResults WHERE userId = #{userId}
    </select>

</mapper>
