 @charset "utf-8";
 
* { 
    background-color : black; 
    font-family : Arial, sans-serif; 
}
h1, sub { 
    color : white; 
}
#title, img { 
    display: inline-block; 
    vertical-align: top; 
}
#subject { 
    text-align: center; 
    font-size: 3em; 
}
p {
    text-align : center; 
    color : white; 
    font-size: 2em;
    font-weight: bold;
}