<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PtuHelp.mapper.MemberMapper">

    <insert id="insertUser" parameterType="PtuHelp.model.User">
    	INSERT INTO Users (pw, email, name, Isadmin)
    	VALUES (#{pw}, #{email}, #{name}, #{isadmin});
	</insert>

    <select id="getUserByUsername" parameterType="string" resultType="PtuHelp.model.User">
    	SELECT ID, name, pw, email, isadmin
    	FROM Users
    	WHERE name = #{name}
	</select>

</mapper>
