* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;

}

.container {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

h1 {
  font-size: 13rem; /* 제목을 크게 시작 */
  font-weight: bold;
  color: #fff;
  transition: font-size 0.5s ease, transform 0.5s ease;
}

.dot {
  color: #2e50ee;
}

.auth-links {
  position: absolute;
  top: 20px;
  right: 20px;
}

.auth-links a {
  color: #2e50ee;
  margin-left: 10px;
  text-decoration: none;
  font-size: 0.9rem;
}

.auth-links a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 100px;
  opacity: 0; /* 처음엔 보이지 않음 */
  transition: opacity 0.6s ease;
}

.menu-item {
  background-color: #fff;
  color: #333;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}


.menu-item p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e50ee;
}


.zoom-button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 24px;
  background-color:#fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; /* 버튼 확대 애니메이션 */
}

.zoom-button:hover {
  transform: scale(1.1); /* 마우스를 올렸을 때 버튼 크기 증가 */
}

.menu.visible {
  opacity: 1; /* 스크롤 시 메뉴 나타남 */
}

.scrolled h1 {
  font-size: 3rem; /* 스크롤 후 제목이 작아짐 */
  transform: translateY(-120px); /* 살짝 위로 올라가는 효과 */
}

footer{

  padding: 130px;

}
